html, body {
        margin: 2 auto;
        padding: 5px;
        font-family: "Georgia", Monospace;
      }

button {
  backgroud: lightGrey;
  border: 1px solid darkgrey;
  border-radius: 2px;
  padding: 3px;
}

header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  background: darkgrey;
  margin: 5px;
  color: white;
  border-radius: 4px;
}

.userInputSearchLocation {
  width: 230px;
  padding: 3px;
}

main {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


.left {
    float: left;
    width: 63%;
    height: 450px;
    padding-right: 5px;
}

#map {
        height: 450px;
        width: 100%;
        border-radius: 10px;
}

.right {
    float: left;
    padding-left: 40px;
    width: 28%;
    height: 450px;
    overflow: scroll;
    background: #EEEEEE;
    border-radius: 10px;
    font-size: 14px;
}

.goToGoogleMap {
  padding: 5px;
  margin-top: 15px;
}

@media (max-width: 640px) {
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }  

  header {
    font-size: 12px;
    padding-bottom: 8px;
    margin-bottom: 2px;
  }

  main {
    width: 100%;
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  #map {
    height: 150px;
    width: 100%;
    border-radius: 2px;
    float: center;
  }

  .left {
    width: 100%;
    padding: 5px;
    float: center;
    height: 150px;
    padding-left: 0;
    padding-right: 0;
  }

  .right {
    width: 100%;
    background: #EEEEEE;
    border-radius: 2px;
    font-size: 12px;
    overflow: scroll;
    height: 500px;
  }
}
